{% extends "layout.html" %}

{% block body %}
 
  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="display-4">WHAT WE DO</strong></h1>
              <div class="d-flex flex-row">
        
                <div class="p-4 align-self-end">
                    We have assembled a team that provides technical support
for companies both public and private and also build sustainable solution
for the both Large and Small scale businesses. 
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                
                <div class="p-4 align-self-end">
                    .
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                 .
                </div>
              </div>
            </div>

{% endblock %}