{% extends "layout.html" %}

{% block content %}
  <!-- CONTACT SECTION -->
 
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Contact Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, saepe.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTACT SECTION -->
  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4">
            <div class="card-body">
              <h4>Get In Touch</h4>
              <p>By reaching the club manager for more information.</p>
              <h4>Address</h4>
              <p>Along fobur road, before Haske baptist church.</p>
              <h4>Email</h4>
              <p>lamingogolfclub@gmail.com</p>
              <h4>Phone</h4>
              <p>+234703667788</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center">Please fill out this form to contact us</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="submit" class="btn btn-outline-primary btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- FAQ -->
    <section id="faq" class="p-5 bg-dark text-white">
      <div class="container">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Question One?
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Question Two?
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Question Three?
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      Question Four?
                    </a>
                  </h5>
                </div>

                <div id="collapseFour" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                      Question Five?
                    </a>
                  </h5>
                </div>

                <div id="collapseFive" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                      Question Six?
                    </a>
                  </h5>
                </div>

                <div id="collapseSix" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolorem, eligendi, provident quibusdam tempora! Commodi excepturi labore sunt, cupiditate quas adipisci magni dolorem, numquam saepe aut est qui asperiores!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2020 &copy; LGC</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}